new-game-modal{
  position:absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
    background-image: url("../assets/textures/horizontal_game_menu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
