game-over-modal{
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0px;
  text-align: center;
  h1{
    font-size: 100px;
    text-shadow: 4px 4px #000000;
  }
  h2{
    text-shadow: 2px 2px #000000;
  }
}
